# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.log

# --- Jupyter ---
.ipynb_checkpoints/

# --- Virtual Environment ---
venv/
.venv/
ENV/
env/

# --- Streamlit cache/config ---
.streamlit/
*.streamlit-*

# --- System Files ---
.DS_Store
Thumbs.db

# --- VS Code ---
.vscode/

# --- Pip Tools ---
pip-wheel-metadata/
